
[Unit]
Description=Gammastep display colour temperature adjustment
Documentation=https://gitlab.com/chinstrap/gammastep
After=display-manager.service

[Service]
ExecStart=/usr/bin/gammastep -t 6500:1200
Restart=always

[Install]
WantedBy=default.target
