[Unit]
Description=Display colour temperature adjustment
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/gammastep -t 6500:1500
Restart=always

[Install]
WantedBy=graphical-session.target
