/* ▄▄      ▄▄                     ▄▄ */
/* ██      ██                     ██ */
/* ▀█▄ ██ ▄█▀  ▄█████▄  ▀██  ███  ██▄███▄    ▄█████▄   ██▄████ */
/*  ██ ██ ██   ▀ ▄▄▄██   ██▄ ██   ██▀  ▀██   ▀ ▄▄▄██   ██▀ */
/*  ███▀▀███  ▄██▀▀▀██    ████▀   ██    ██  ▄██▀▀▀██   ██ */
/*  ███  ███  ██▄▄▄███     ███    ███▄▄██▀  ██▄▄▄███   ██ */
/*  ▀▀▀  ▀▀▀   ▀▀▀▀ ▀▀     ██     ▀▀ ▀▀▀     ▀▀▀▀ ▀▀   ▀▀ */
/*                       ███ */

* {
  font-family: "MesloLGS Nerd Font Propo";
  font-size: 0.9rem;
}

window#waybar {
  background-color: rgba(46, 52, 64, 0.8);
  border-radius: 1rem;
  color: rgba(224, 222, 244, 1);
  transition-property: background-color;
  transition-duration: 0.5s;
}

#hardware-info,
#disk,
#temperature,
#network,
#mode,
#idle_inhibitor,
#scratchpad,
#systray,
#mpd {
  padding: 0px 8px;
  color: rgba(191, 97, 106, 1);
  border-radius: 1rem;
  border: none;
  background-color: rgba(46, 52, 64, 0);
  margin-left: 10px;
}

@keyframes blink-workspace {
  to {
    color: rgba(46, 52, 64, 1);
    font-weight: 800;
  }
}

#workspaces,
#taskbar,
#window {
  margin-right: 10px;
  border: none;
  border-radius: 1rem;
  background-color: rgba(46, 52, 64, 0);
  transition: all 0.4s ease-out;
}

#window {
  padding-left: 7px;
  padding-right: 7px;
  color: rgba(163, 190, 140, 1);
}

#taskbar button,
#workspaces button {
  border-radius: 1rem;
  border: none;
  color: rgba(136, 192, 208, 1);
  transition: all 0.4s ease-out;
}

#taskbar button.active,
#workspaces button.active {
  background-color: rgba(136, 192, 208, 0.5);
  color: rgba(46, 52, 64, 1);
  animation-name: blink-workspace;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: 2;
  animation-direction: alternate;
}

#workspaces button.urgent {
  color: rgba(191, 97, 106, 0.5);
  font-weight: 800;
  animation-name: blink-workspace;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#workspaces button.empty {
  color: rgba(163, 190, 140, 1);
  animation-name: blink-workspace;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: 4;
  animation-direction: alternate;
}

#workspaces button.occupied {
  background-color: rgba(208, 135, 112, 0.5);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  border: none;
  margin-left: 10px;
  color: rgba(208, 135, 112, 1);
  border-radius: 1rem;
  background-color: rgba(46, 52, 64, 0);
  padding-left: 5px;
  padding-right: 5px;
}

#backlight {
  padding: 0px 8px 0px 4px;
}

#battery {
  padding: 0px 8px 0px 4px;
}

#battery.charging,
#battery.plugged {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(163, 190, 140, 1);
}

@keyframes blink-battery {
  to {
    color: rgba(224, 222, 244, 1);
  }
}

/* CPU and Memory warning state */
#cpu.warning,
#memory.warning {
  color: @gold; /* Orange color for warning */
}

/* CPU and Memory critical state */
#cpu.critical,
#memory.critical {
  color: @love; /* Red color for critical */
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.warning:not(.charging) {
  color: rgba(208, 135, 112, 1);
  background-color: rgba(0, 0, 0, 0);
  animation-name: blink-battery;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  color: rgba(191, 97, 106, 1);
  background-color: rgba(0, 0, 0, 0);
  animation-name: blink-battery;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#systray {
  color: rgba(235, 203, 139, 1);
  padding: 8px 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: rgba(191, 97, 106, 1);
}

#custom-power {
  padding: 0px 6px;
  color: rgba(191, 97, 106, 1);
}

@keyframes blink-update {
  to {
    background-color: rgba(163, 190, 140, 1);
  }
}

#custom-launcher,
#custom-updates {
  border: none;
  margin-right: 10px;
  color: rgba(163, 190, 140, 1);
  background-color: rgba(46, 52, 64, 0);
  border-radius: 1rem;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-launcher {
  color: rgba(191, 97, 106, 1);
  padding-left: 10px;
  padding-right: 10px;
}

#custom-updates {
  padding-right: 8px;
  padding-left: 8px;
}

#custom-weather {
  border: none;
  margin-left: 10px;
  color: rgba(163, 190, 140, 1);
  background-color: rgba(46, 52, 64, 0);
  border-radius: 1rem;
  padding-left: 10px;
}
