/**
 * @name Tems Discord
 * @author Тигровый Ястреб
 * @version 0.5
 * @invite https://discord.gg/QWayQ7BNUu
 * @description Приятного использования!
 */
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/aerobase.css");
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/RGB/1.css");
/* PLUGINS */
@import url("https://fonts.googleapis.com/css?family=Cuprum&display=swap");
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/HoverMemberList.css");
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/NoOffline.css");
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/HorizontalServerList.css");
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/GIBBUHSLFIX.css");
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/Letters-in-HSL.css");
/* CONFIG */
:root {
	--title: "Tems Discord";
	--background: url("https://i.ytimg.com/vi/o5RaM8MxEL4/maxresdefault.jpg");
	--font: "Cuprum";
	--time: 10s;
	--Online: rgb(0 255 136);
	--Idle: rgb(0 99 156);
	--Unavailable: rgb(228 15 0);
	--Offline: rgb(90 95 100);
	--grey: rgb(77 70 85);
	--darkgrey: rgb(18 18 18);
	--ChatBox: var(--darkgrey5);
	--Sidebar: var(--darkgrey5);
	--SendMessage: var(--darkgrey);
	--HoverMessage: var(--darkgrey5);
	--JoinUs: "Привет! Добро пожаловать!";
	--AddNewServer: "➕ Добавить сервер";
	--Close: "🔵";
	--Resize: "🔴";
	--Hide: "💢";
	--ProfilePic: "Тык";
	--Unread: "✨";
	--Options: "⚙";
	--Emoji: "😜";
	--EmojiHover: "😜";
	--Channel: "💬";
	--Voice: "🔊";
	--Community: "🎙";
	--WelcomeMessage: "✨ Добро пожаловать в волшебный мир!";
	--Watermark: "Тему сделал Тигровый Ястреб / Tems Discord";
	--EditStatus: "Поставьте пользовательский статус";
	--Folders: "📁";
	--C1: rgb(29 255 0);
	--C2: rgb(0 225 255);
	--FoldersOpen: "💠";
	--Micro: "🔊";
	--Headset: "🎧";
	--TitleBG: var(--darkgrey5);
	--ServerSize: 45px;
	--WriteMessage: "Введите текст...";
	--ListenAlong: "";
	--StreamingColor: rgb(96 0 156);
	--ServerColumns: 1;
	--Highlighted: var(--grey5);
	--ActiveBox: rgb(167 255 0);
	--Announcement: "📣";
	--grey5: rgb(77 70 85 / 50%);
	--darkgrey5: rgb(18 18 18 / 75%);
} /* Пуньк! */
