[user]
	name = seanPruss
	email = 36770417+seanPruss@users.noreply.github.com

[safe]
	directory = /home/seanp/.cache/yay/auto-cpufreq
	directory = /home/seanp/.cache/yay/floorp
	directory = /home/seanp/.cache/yay/auto-cpufreq
	directory = /home/seanp/.cache/yay/floorp
	directory = /home/seanp/.cache/yay/nwg-look-bin
	directory = /home/seanp/.cache/yay/preload
	directory = /home/seanp/.cache/yay/rpi-imager
	directory = /home/seanp/.cache/yay/spotify
	directory = /home/seanp/.cache/yay/swaylock-effects
	directory = /home/seanp/.cache/yay/swww
	directory = /home/seanp/.cache/yay/teams
	directory = /home/seanp/.cache/yay/wlogout
[pull]
	rebase = false

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true


    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
