window {
	background-image: url("../../.cache/current_wallpaper");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#date-label,
#input-field,
#clock-label {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0.2rem;
}
