discord
spotify
lazygit
dconf
thefuck/__pycache__
user-dirs.locale
user-dirs.dirs
keepassxc
QtProject.conf
btop
Microsoft Office
autostart
teams
Raspberry Pi
zsh/.zcompdump
Microsoft/Microsoft Teams
draw.io
libreoffice/4/user
spicetify
zsh/install.log
BetterDiscord Installer/Local Storage/leveldb
BetterDiscord Installer/Session Storage
BetterDiscord Installer/GPUCache
BetterDiscord Installer/Dictionaries
BetterDiscord Installer/Code Cache/wasm
BetterDiscord Installer/Cookies
BetterDiscord Installer/Cookies-journal
BetterDiscord Installer/Network Persistent State
BetterDiscord Installer/Preferences
BetterDiscord Installer
WebCord
flutter
JetBrains/IntelliJIdea2023.3
cef_user_data/WidevineCdm
Unknown Organization
obs-studio
vlc
zoomus.conf
zoom.conf
uad
