layout {
    focus-ring {
        width 3
        active-gradient from="#e67e80" to="#83c092" angle=45
        inactive-gradient from="#1e2326" to="#414b50" angle=45 relative-to="workspace-view"
    }
}
include "common.kdl"
